.question-info{
    text-align: center;
    margin-top: 20px;
}

.answer-list li{
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 90%;
}

.user-info{
    font-size: 16px;
    color: #9b9b9b;
}

.user-info .username{
    margin-left: 20px;
}

.user-info .create-time{
    margin-right: 20px;
    float: right;
}

.answer-content{
    margin-left: 60px;
}

